{% include 'header.html' %}
{% include 'navigation.html' %}

 {% if data %}
<div class="masthead mt-2 px-5">

    <div class="masthead-content text-white mt-5 ">

           <h4 class="mt-5"><a href="{{data.link}}">{{data.title}}</a></h4>
            <h6>{{data.date}}</h6>
            {% if data.img %}
            <img src="{{data.img}}" class="d-block w-100 " alt="...">
            {% endif %}
         <h6>{{data.text}}</h6>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
             {% if num>1 %}
                <li class="page-item">
                    <a class="page-link" href="?new={{num-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
             {% endif %}

        {% if num>3 %}
            {% for i in range(num-3, num+3) %}
                  {% if nums -i +1 > 0  %}
                         <li class="page-item"><a class="page-link" href="?new={{i}}">{{i}}</a></li>
                   {% endif %}
              {% endfor %}
        {% else %}
              {% for i in range(1, 6) %}
                  {% if nums-num-i %}
                         <li class="page-item"><a class="page-link" href="?new={{i}}">{{i}}</a></li>
                    {% endif %}
              {% endfor %}
        {% endif %}


            {% if nums-num %}
            <li class="page-item">
              <a class="page-link" href="?new={{num+1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
             {% endif %}
          </ul>
        </nav>

        </div>
    </div>
</div>
    {% else %}
        Данных нет
    {% endif %}


{% include 'footer.html' %}