{% include 'header.html' %}
{% include 'navigation.html' %}
<div class="masthead">
    <div class="masthead-content text-white"> <div class="row">

<!--Grid column-->
<div class="col-md-9 mb-md-0 mb-5">
    <form id="hh-form" name="contact-form" action="/HH_result/" method="POST">

        <!--Grid row-->
        <div class="row ">
         <p class="text-center">Enter the HH search fields:</p>
            <!--Grid column-->
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" id="page" name="page" class="form-control" value="1">
                    <label for="page" class="">Page</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="md-form mb-0">
                    <input type="text" id="area" name="area" class="form-control" value="1" >
                    <label for="area" class="">Area</label>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <input type="text" id="key" name="key" class="form-control" value="Python">
                    <label for="key" class="">Search key</label>
                </div>
            </div>
        </div>


    </form>

    <div class="text-center text-md-left">
        <a class="btn btn-primary" onclick="document.getElementById('hh-form').submit();">Send</a>
    </div>
    <div class="status"></div>
            </div>


        </div>

  </div>
</div>
{% include 'footer.html' %}