<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top col-7">
  <a class="navbar-brand" href="/"> IT NEWS </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
       <li class="nav-item">
        <a id="hh" class="nav-item nav-link" href="/HH/" >HH query</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/top/">Top Skills</a>
      </li>
       <li class="nav-item">
        <a class="nav-item nav-link" href="/habr/">Habr news</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/about/">About as</a>
      </li>
     </ul>
  </div>
</nav>